<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Bootstrap to Thymeleaf</title>
    <!-- Latest compiled and minified CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
         <table class="table table-responsive table-bordered table-striped">
             <thead>
                  <tr>
                      <th>Employee First Name</th>
                      <th>Employee Last Name</th>
                      <th>Employee Email</th>

                  </tr>
             </thead>
             <tbody>
             <tr>
                 <td>Khair</td>
                 <td>Sarder</td>
                 <td>sumonsarder.cse@gmail.com</td>
             </tr>
             <tr>
                 <td>Sujit</td>
                 <td>Sarder</td>
                 <td>sumonsarder.cse@gmail.com</td>
             </tr>
             <tr>
                 <td>Sumon</td>
                 <td>Sarder</td>
                 <td>sumonsarder.cse@gmail.com</td>
             </tr>

             </tbody>

         </table>

        </div>
    </div>
</div>

</body>
</html>